<h1>Weather Forecaster</h1>
<p>Enter an Address to retrieve weather data</p>
<%= form_with do |form| %>
  <%= form.label :address, "Address:" %>
  <%= form.text_field :address %>
  <%= form.submit "Search" %>
<% end %>
<% if address %>
  <p>Address Searched: <%= address %></p>
  <p>Latitude: <%= latitude %>
<% end %>
