<h1>Weather Forecaster</h1>
<p>Enter an Address to retrieve weather data</p>
<%= form_with do |form| %>
  <%= form.label :address, "Address:" %>
  <%= form.text_field :address %>
  <%= form.submit "Search" %>
<% end %>
<% if address %>
  <p>Geocode Data: <%= geocode_data %>
  <p>Zip Code: <%= zipcode %>
  <p>Address Searched: <%= address %></p>
  <p>Current Temperate: <%= current_temperature %>°F</p>
  <table>
    <caption>Extended Forecast</caption>
    <tr>
      <th>Date</th>
      <th>High</th>
      <th>Low</th>
    </tr>
    <% extended_forecast.map do |forecast| %>
      <tr>
        <td><%= forecast[:date] %></td>
        <td><%= forecast[:high] %></td>
        <td><%= forecast[:low] %></td>
      </tr>
    <% end %>
  </table>
<% end %>
