<h1>Weather Forecaster</h1>
<p>Enter an Address to retrieve weather data</p>
<%= form_with do |form| %>
  <%= form.label :address, "Address:" %>
  <%= form.text_field :address %>
  <%= form.submit "Search" %>
<% end %>
<% if address %>
  <p>Address Searched: <%= address %></p>
  <% if any_geocode_data? %>
    <p>Zipcode: <%= zipcode %></p>
    <% if fetched_from_cache? %>
      <p>The below weather information was fetched from cache for zip code <%= zipcode %></p>
    <% end %>

    <p>Current Temperate: <%= current_temperature %>°F</p>
    <table>
      <caption>Extended Forecast</caption>
      <tr>
        <th>Date</th>
        <th>High</th>
        <th>Low</th>
      </tr>
      <% extended_forecast.map do |forecast| %>
        <tr>
          <td><%= forecast[:date] %></td>
          <td><%= forecast[:high] %></td>
          <td><%= forecast[:low] %></td>
        </tr>
      <% end %>
    </table>
  <% else%>
    <p>This query did not find any geocode data</p>
  <% end %>
<% end %>
